@import "http://fonts.googleapis.com/css?family=Raleway:400,500,600,300";
@import "http://fonts.googleapis.com/css?family=Lato:700";
@import "/components/bootstrap/dist/css/bootstrap.min.css";
@import "/components/normalize-css/normalize.css";
@import "/components/perfect-scrollbar/min/perfect-scrollbar-0.4.10.min.css";

a {
    &, &:hover, &:focus {
        border: none;
        text-decoration: none;
        color: inherit;
        outline: none;
    }
}

.icons-menu {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAUCAMAAADm3a4bAAAAWlBMVEUAAABuwd3takztakxuwd3takztakznb1Vuwd3takxuwd1uwd1uwd3takztakztakxuwd1uwd3takztakxuwd1uwd1uwd3takxuwd1uwd1uwd1uwd1uwd3takwWOYh1AAAAHHRSTlMACEXI1vhaA6w2XYwy1vEiGJm8lKRM7bZxfK2/4Uf4iAAAAO1JREFUOMuN04kOgyAMBuCiHBvX0OlO+v6vOZWosMyOPzEhqV+kFWDN2A2aARkl7wLFXarvwilO4aS+OEQU0+MuZUHHJQ/KCmwbBappUZS6S3gg9uzwqtLqiq7YuUnYHGOJ7SpUi7JsecnrGPfYbOsG+7zEE+bHWKDaW0D/o+fuGBfve8xLLGFW+2VR1AZy2HTPYGdsoXraJKb/M57ziuYz5ppVnTDcNRvNLa7Rf862n+Wu7ST3BG6oW+VR9PK86ZDTdwjpatHZtMmxXVo31ZrneDR8HhvUaQcxz02zyMMDKjU8T0WC0fYJNdoL+QEqcB5bgmOc6gAAAABJRU5ErkJggg==);
}

.icon-customer {
    @extend .icons-menu;
    background-position: 0 0;
}

.icon-search {
    @extend .icons-menu;
    background-position: -32px 0;
    margin-left: 8px;
    padding-left: 8px;
    width: 30px;
    border-left: 1px solid #ed6a4c;
}

.icons-transactions {
    display: inline-block;
    margin-right: 5px;
    width: 13px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.icon-redeem {
    @extend .icons-transactions;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAPCAMAAAAI/bVFAAAANlBMVEUAAABbukdbukdbukdbukdbukdbukdbukdbukdbukdbukdbukdbukdbukdbukdbukdbukdbukf1GKIrAAAAEXRSTlMAWwLa6sQTt8oriYR2lZE//O5eZcQAAABMSURBVAjXpY9BFoAgCAVRQcWs3r//ZYOol/tmNbOCT05t6EoPyjDOiIQgmecNLyPTwMdBWKGyRCEVns2sT5a4cpfLr/J39tDYINXlAgFUBmhxg9otAAAAAElFTkSuQmCC);
}

.icon-issue {
    @extend .icons-transactions;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAPCAMAAAAI/bVFAAAAOVBMVEUAAADlUyXlUyXlUyXlUyXlUyXlUyXlUyXlUyXlUyXlUyXlUyXlUyXlUyXlUyXlUyXlUyXlUyXlUyVZ5BsOAAAAEnRSTlMA6sJbEy2SuMqFdtk/1sYlBvQl3S1iAAAAS0lEQVQI153Pyw6AIAxE0SnQ8lAxmf//WAOp4NqzmrtrMaTAnPAyknVVJ5lXlR+lQdqsJl1xcTvALxg3A6pPPyd6REzn2KJwd/EfHlBHBp3Q5aSTAAAAAElFTkSuQmCC);
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.positive, .green {
    color: #3cd513;
}

.nil, .red {
    color: #e6521f;
}

.old {
    color: #ddbc1e;
}

.number {
    position: relative;
    //top: -2px;
    @extend .medium;
    font-size: 1.5em;
}

.btn-primary {
    &, &:hover {
        background: #6ec1dd;
        border-color: #6ec1dd;
    }
}

.bs-callout {
    margin: 0 0 30px;
    padding: 15px 20px;
    border-left: 3px solid #eee;

    p {
        margin: 0;
    }
}

.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
}

.bs-callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}

.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
}

.common-padding {
    padding-right: 30px;
    padding-left: 30px;
}

.common-bottom {
    margin-bottom: 60px;
}

.reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.form-context {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #919191;
    border-bottom: 1px solid #919191;
}

.main-container {
    position: relative;
    padding: 30px 0;
    font-family: 'Raleway', sans-serif;

    .fixed-content {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 420px;
        border-right: 1px solid #ddd;
    }

    .flexible-content {
        margin-left: 420px;
    }

    .scrollbar-container {
        position: relative;
        margin: 0 auto;
        padding: 0;
        width: auto;
        overflow: hidden;

        .content {
            padding-bottom: 50px;
            height: auto;
        }
    }
}

.main-header {
    padding: 20px 30px;
    border-bottom: 1px solid #d2d2d2;

    h1 {
        display: inline-block;
        float: left;
        margin: 0;
        color: #ed6a4c;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 1.9em;
    }

    .menu {
        position: relative;
        top: 6px;
        float: right;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.main-footer {
    margin-top: 30px;
    padding: 0 40px 30px;
    color: #a8a8a8;
    @extend .regular;
    font-size: 1.2em;
}

.main-content {
    color: #494949;
}

.breadcrumbs {
    font-size: 0.9em;
    word-spacing: 5px;

    a, .root {
        @extend .semi-bold;
    }

    a, span, .root {
        word-spacing: normal;
    }
}

.menu {
    @extend .reset-list;
}

.internal-menu {
    color: #6ec1dd;
    @extend .semi-bold;
    text-align: right;
}

.front-data {
    @extend .common-padding;
    @extend .common-bottom;

    .title {
        margin: 0;
        @extend .regular;
    }

    &.jumbotron-like {
        margin-bottom: -32px;
    }
}

.customer-container {
    padding: 20px 40px 40px;

    .customer-header {
        position: relative;
        margin-bottom: 20px;
        padding-left: 113px;
        min-height: 62px;

        h2, .title {
            display: inline-block;
            margin: 0;
            @extend .regular;

            .points {
                display: inline-block;
                margin-left: 15px;
                color: inherit;
            }
        }
    }

    .avatar {
        position: absolute;
        z-index: 10;
        top: -16px;
        left: 0;
        display: inline-block;
        width: 83px;

        .image-place {
            width: 83px;
            height: 78px;
            border-radius: 2px;
            background: #a3a3a3;
            overflow: hidden;
        }

        .call-to-action {
            margin: 20px 0 0;
        }
    }

    .latest-transaction {
        margin: 0;
        @extend .light;
        font-size: 1em;
        line-height: 1.4;
    }

    .new-transaction {
        @extend .form-context;
    }

    .history {
        h3, .title {
            margin: 0 0 25px;
            @extend .medium;
            font-size: 1.2em;
        }

        .transactions {
            @extend .reset-list;

            li, .single {
                display: block;

                & ~ li, & ~ .single {
                    margin-top: 15px;
                }
            }

            p {
                margin: 0;
                font-size: 1.1em;
            }

            small {
                font-size: 1em;
            }
        }
    }
}

.customers {
    @extend .reset-list;

    li, .single {
        display: block;
        border-bottom: 1px solid #e7e7e7;
    }

    .customer-container {
        padding: 20px 30px;

        .customer-header {
            position: relative;
            padding: 0 20px 0 0;
            margin-bottom: 5px;
            min-height: 0;

            h2, .title {
                @extend .semi-bold;
                font-size: 1.2em;

                .points {
                    color: inherit;
                    @extend .regular;
                    font-size: 0.9em;
                }
            }

            .date {
                position: absolute;
                top: 4px;
                right: 0;
            }
        }
    }

    .latest-transaction {
        margin-bottom: 0;
        font-size: 0.9em;
        line-height: 1.3;
    }
}
