<div class="front-data jumbotron-like">
  <h2 class="title">New customer</h2>
</div>
<div class="common-padding">
  <div class="form-context">
    <form name="customerForm" novalidate>
      <div class="bs-callout bs-callout-info">
        <p>Tips: full name is a required field and it must have at least two characters.</p>
      </div>
      <div class="row">
        <div class="col-md-5">
          <input required ng-model="customer.full_name" ng-pattern="/[A-Za-z][A-Za-z]+/" type="text" class="form-control" placeholder="Full name">
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-primary" ng-disabled="customerForm.$invalid" ng-click="saveCustomer(customer)">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
