<!DOCTYPE html>
<html>
  <head>
    <title>Loyalty Club</title>
    <meta charset="utf-8">
    <meta name="referrer" content="always"/>
    <meta name="fragment" content="!">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="<%= asset_path 'application.css' %>">
  </head>
  <body>

    <script defer src=""></script>
  </body>
</html>
